@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="mb-4">
                            <h5>Bienvenido</h5>
                            <hr class="separador-celeste">
                        </div>
                        <form asp-controller="Acceso" asp-action="Login" method="post">
                            <div class="form-group mb-3">
                                <h7 class="text-end">Usuario / Email</h7>
                                <input type="email" name="email" class="form-control" placeholder="test / test@gmail.com" required />
                            </div>
                            <div class="form-group mb-3">
                                <h7>Contraseña</h7>
                                <input type="password" name="password" class="form-control" placeholder="**********" required />
                            </div>
                            <button type="submit" class="btn boton-celeste w-30 mb-2"><strong>INICIAR SESION</strong></button>
                        </form>
                        <hr class="separador-celeste">
                        <a asp-controller="Acceso" asp-action="Registro" class="btn boton-celeste w-30"><strong>REGISTRARSE</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
